<!-- Add CSS stylings in the future! -->

<%- include('partials/header.ejs') %>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/titleHeading.ejs') %>
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <a href="/posts/<%= post.post_id %>"><%= post.title %></a>
                </li>
            <% }) %>
        </ul>
    <%- include('partials/footer.ejs') %>