<!-- Add CSS stylings in the future! -->

<%- include('partials/header.ejs') %>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/titleHeading.ejs') %>

        <% function getDisplayDate(created_on, updated_on) { %>
            <% const displayDate = updated_on || created_on; %>
            <% return new Date(displayDate).toLocaleString(); %>
        <% } %>
        <% function isUpdated(updated_on, created_on) { %>
            <% return updated_on >created_on; %>
        <% } %>
        <div class="sort-container">
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort" onchange="handleSortChange(this.value)">
                <option value="updated_on">Last Updated</option>
                <option value="title_asc">Title (A-Z)</option>
                <option value="title_desc">Title (Z-A)</option>
                <option value="category_asc">Category (A-Z)</option>
                <option value="category_desc">Category (Z-A)</option>
            </select>
        </div>

        <br>

        <div class="post-list-container">
            <% posts.forEach(post => { %>
                <div class="post-container">
                    <span><%= post.username %></span> - <a href="/posts/<%= post.post_id %>" class="list-post"><%= post.title %></a> - <span><%= post.category_name ? post.category_name : 'Uncategorized' %></span> -  <span><%= getDisplayDate(post.created_on, post.updated_on) %></span> <span><%= isUpdated(post.updated_on, post.created_on) ? ' (Updated)' : '' %></span>
                </div>
            <% }) %>
        </div>
<%- include('partials/footer.ejs') %>