<!-- Add CSS stylings in the future! -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <h1><%= pageTitle %></h1>
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <a href="/posts/<%= post.post_id %>"><%= post.title %></a>
                </li>
            <% }) %>
        </ul>
    </body>
</html>