<!-- Add CSS stylings in the future! -->

<%- include('partials/header.ejs') %>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/titleHeading.ejs') %>
        <div class="post-list-container">
            <% posts.forEach(post => { %>
                <div class="post-container">
                    <a href="/posts/<%= post.post_id %>" class="list-post"><%= post.title %></a>
                    <span></span>
                </div>
            <% }) %>
        </div>
<%- include('partials/footer.ejs') %>