<%- include('partials/header.ejs') %>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/titleHeading.ejs') %>
        <p><strong>Content:</strong> <%= post.content %></p>
        <!-- <p><strong>Author:</strong> <%= post.author %></p> -->
        <p><strong>Created:</strong> <%= post.created_on %></p>
        <p><strong>Updated:</strong> <%= post.updated_on %></p>

        <a href="/posts/<%= post.post_id %>/edit">Edit</a>
        <a href="/posts/<%= post.post_id %>/delete">Delete</a>
        <!-- <form action="/posts/<%= post.post_id %>?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit">Delete</button>
        </form> -->
    <%- include('partials/footer.ejs') %>