<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <h1><%= pageTitle %></h1>
        <p><strong>Content:</strong> <%= post.content %></p>
        <!-- <p><strong>Author:</strong> <%= post.author %></p> -->
        <p><strong>Created:</strong> <%= post.created_on %></p>
        <p><strong>Updated:</strong> <%= post.updated_on %></p>

        <a href="/posts/<%= post.post_id %>/edit">Edit</a>
        <form action="/posts/<%= post.post_id %>?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit">Delete</button>
        </form>
    </body>
</html>